<html>
<head>
	<title>Yours Always</title>
	<link rel="stylesheet" type="text/css" href="../styles/helper.css">
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class = "title_container center">
		<div class = "title_main">Yours<span class="thick red">Always</span></div>
		<div class = "title_description">
			In the vastness of space and the immensity of time...<br>
			... here is where we build our <span class = "red"> special little place</span>
		</div>
		<div class = "title_button">
			Write a letter to someone you care
		</div>
	</div>
</body>
</html>