<!DOCTYPE html>
<html>
<head>
	<title>Yours Always</title>
	<link rel="stylesheet" type="text/css" href="styles/helper.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="scripts/main.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class = "title_container center">
		<div style = "display: none" class = "title_main">Yours<span class="thick red">Always</span></div>
		<div style = "display: none" class = "title_description">
			In the vastness of space and the immensity of time...<br>
			... here is where we build our <span class = "red"> special little place</span>
		</div>
		<a href="/write">
			<div style = "display: none" class = "title_button">
				Write a letter to someone you care
			</div>
		</a>
	</div>
</body>
</html>