<!DOCTYPE html>
<html>
<head>
	<title>Yours Always</title>
	<link rel="stylesheet" type="text/css" href="styles/helper.css">
	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
	<% include ../partials/header %>
	<h1>Read</h1>
	<% for(var i = 0; i < letters.length; i++){ %>
		<div>
			<%= letters[i].letterBody %> -------  
			<button>X</button>
		</div>
	<% } %>
</body>
</html>