body { font-family: 'Lato', serif; }

a { text-decoration: none; }
a:link, a:visited { color: #ff8686; }
a:hover { color: #fb4444; }

.center {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.thick {
	font-weight: 900;
}

.big {
	font-size: 30px;
}

.red {
	color: #ff8686	;
}

.header_container {
	position: absolute;
	right: 10vw;
	top: 1vw;
	font-size: 25px;
	color: #ff8686;
}

.page_title {
	width: 100%;
	text-align: center;
	font-size: 40px;
	margin-top: 4vw;
}

@media screen and (max-width:516px) {
	.header_container {
		font-size: 20px;
		top: 2vw;
		right: 5vw;
	}

	.page_title {
		font-size: 25px;
		margin-top: 12vw;
	}
}