.title_container {
	margin-top: 10vw;
}

.title_container .title_main {
	font-size: 80px;
}

.title_container .title_description {
	margin-top: 1vw;
	font-size: 25px;
}

.title_container .title_button {
	display: inline-block;
	color: white;
	background-color: #ff8686;
	font-size: 25px;
	margin-top: 2vw;
	padding: 1vw;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 10px 10px 20px #888888;
}

.title_container .title_button:hover{
	background-color: #fb4444;
}

.title_container .title_learn_more {
	color: #ff8686;
	font-size: 25px;
	text-decoration: underline;
	margin-top: 1vw;
}

@media screen and (max-width:516px) {
	.title_container {
		margin-top: 40vw;
	}
	.title_container .title_main {
		font-size: 50px;
	}
	.title_container .title_description {
		font-size: 15px;
		margin-top: 4vw;
	}
	.title_container .title_button {
		font-size: 15px;
		padding: 3vw;
		margin-top: 8vw;
	}
	.title_container .title_learn_more {
		font-size: 15px;
		margin-top: 4vw;
	}
}