.title_container {
	margin-top: 10vw;
}

.title_container .title_main {
	font-size: 80px;
}

.title_container .title_description {
	margin-top: 1vw;
	font-size: 25px;
}

.title_container .title_button {
	display: inline-block;
	color: white;
	background-color: #ff8686;
	font-size: 25px;
	margin-top: 2vw;
	padding: 1vw;
	border-radius: 10px;
	cursor: pointer;
}

.title_container .title_button:hover{
	background-color: #fb4444;
}