.letter_container {
	width: 55%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1vw;
	font-size: 20px;
	background-color: #ffefe4;
	padding: 1vw;
}

.letter_container .form {
	display: inline-block;
	margin-top: 1vw;
}

.letter_container .form .button {
	font-size: 20px;
	background-color: #ff8686;
	border: none;
	border-radius: 5px;
	color: #ffffff;
}

.deleteConfirmation {
	z-index: 10;
	background-color: #ff8686;
	color: #ffffff;
	display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 450px;
    height: 90px;
    margin: auto;
    padding: 1vw;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.deleteConfirmation .button {
	margin-top: 1vw;
	font-size: 20px;
	background-color: #ffefe4;
	border: none;
	border-radius: 5px;
}

@media screen and (max-width:516px) {
	.letter_container {
		width: 90%;
		font-size: 15px;
		padding: 3vw;
	}

	.letter_container .form .button {
		font-size: 15px;
	}

	.deleteConfirmation {
		font-size: 15px;
		width: 80vw;
		height: 17vw;
		padding: 4vw;
	}

	.deleteConfirmation .button {
		font-size: 15px;
		margin-top: 2vw;
	}
}